* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', sans-serif;
    font-size: 25px;

    /* Background image */
    background-image: url("bblphotos/Ball1.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;

    color: white;
    text-align: center;
    line-height: 1.6;
}

/* DARK OVERLAY (makes text readable) */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.55);
    z-index: -1;
}

/* TIMER */
#timer {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* HEADER */
header {
    position: relative;
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

h1 {
    font-family: imperial script, regular;
    font-weight: 400;
    font-size: 120px;
    text-align: center;
    margin: 20px 0;
}

/* BLOCKQUOTES */
.left-quote {
    position: absolute;
   left: -200px;
   top: 300px;
   width: 500px;
   

}

.right-quote {
    position: absolute;
   right: -200px;
   top: 300px;
   width: 500px;
}

.quote-text {
    font-style: italic;
}
.quote-author {
    margin-top: 10px;


}
#meet-the-league {
    margin-top: 50px;
    text-align: center;
}

#meet-the-league h2 {
    font-size: 48px;
    margin-bottom: 30px;
}

.league-container {
    display: flex;
    justify-content: center;
    alighn-items: flex;
    gap: 50px;
    max-width: 1400px;
    margin: 0 auto;
}

.league-names {
    text-align: left;
    font-size: 28px;
    min-width: 300px;
    padding-left: 40px;
}

.league-names li {
    margin-bottom: 6px;
}  

.champion {
    color: gold;
    font-weight: bold;
}

.league-grid {
    display: grid;
    grid-template-columns: repeat(6, 150px);
    gap: 20px;
}

.league-grid img {
    width: 150px;
    height: auto;
    margin: 0 auto;
    display: block;
}

#meet-the-league h2 {
    font-size: 48px;
    margin-bottom: 30px;
    color: rgb(243, 245, 243);
    text-decoration: underline;
}

.league-names h3 {
    font-size: 30px;
    color: rgb(245, 245, 243);
    margin-bottom: 10px;
    text-decoration: underline;
}
/* SECTIONS */
section {
    margin: 30px auto;
    max-width: 600px;
    padding: 10px;
}

/* LISTS */
ol, ul {
    display: inline-block;
    text-align: left;
    margin-top: 10px;
    font-size: 18px;
}

/* LINKS */
a {
    color: #ff0000;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #ffffff;
    text-decoration: underline;
}

/* FOOTER STYLE (for bottom links) */
p {
    margin: 10px;
}

/* RESPONSIVE (mobile friendly) */
@media (max-width: 600px) {
    h1 {
        font-size: 40px;
    }

    ol, ul {
        font-size: 16px;
    }
}